@model BumboApp.ViewModels.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Nieuwe werknemer aanmaken";
}

<a asp-action="Index" class="btn btn-secondary">Terug</a>

<form method="post">
    <div class="table-container p-3">
        <h3>Accountgegevens</h3>
        <p class="alert alert-info"><i class="fa-solid fa-exclamation-circle"></i> Deel de gegevens met de werknemer. Je kan het wachtwoord na creatie niet meer inzien.</p>
        <div class="form-group">
            <label asp-for="@Model.Email" class="control-label">E-mail</label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Password" class="control-label">Wachtwoord</label>
            <div class="input-group">
                <input asp-for="@Model.Password" id="password" type="password" class="form-control" />
                <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
            </div>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="@Model.Role" class="control-label">Functie</label>
            <select class="form-select" asp-for="Role" class="form-control">
                <option value="@Role.Unknown" disabled selected>Selecteer medewerker</option>
                <option value="@Role.Manager">Manager</option>
                <option value="@Role.Employee">Werknemer</option>
            </select>
            <span asp-validation-for="@Model.Role" class="text-danger"></span>
        </div>
    </div>

    <div class="table-container p-3">
        <h3>Persoonsgegevens</h3>
        <div class="form-group">
            <label asp-for="@Model.FirstName" class="control-label">Voornaam</label>
            <input asp-for="@Model.FirstName" class="form-control" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.LastName" class="control-label">Tussenvoegsel en achternaam</label>
            <input asp-for="@Model.LastName" class="form-control" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.DateOfBirth" class="control-label">Geboortedatum</label>
            <input asp-for="@Model.DateOfBirth" type="date" class="form-control" />
            <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
        </div>
    </div>

    <div class="table-container p-3">
        <h3>Adresgegevens</h3>
        <div class="form-group">
            <label asp-for="@Model.Zipcode" class="control-label">Postcode</label>
            <input asp-for="@Model.Zipcode" class="form-control" placeholder="Formaat: 1234AB" />
            <span asp-validation-for="@Model.Zipcode" class="text-danger" placeholder="1a"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.HouseNumber" class="control-label">Huisnummer + toevoeging</label>
            <input asp-for="@Model.HouseNumber" class="form-control" />
            <span asp-validation-for="@Model.HouseNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="table-container p-3">
        <h3>Contractgegevens</h3>
        <div class="form-group">
            <label asp-for="@Model.ContractHours" class="control-label">Contracturen (per week)</label>
            <input asp-for="@Model.ContractHours" type="number" class="form-control" />
            <span asp-validation-for="@Model.ContractHours" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Aanmaken</button>
    </div>
</form>

@section Scripts
{
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('password');
            const icon = this.querySelector('i');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });
    </script>
}