@model Employee

@{
    ViewData["Title"] = "Werknemer details";
    bool isEmployed = Model.EndOfEmployment == null;
    bool displayDismissButton = !ViewData["EmployeeRole"].Equals("Manager") && isEmployed;
}

@if (Model == null)
{
    <p>Fout met medewerker ophalen</p>
}
else
{
    <div class="table-container p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4>@Model.FirstName @Model.LastName</h4>
                @if (Model.EndOfEmployment == null)
                {
                    <p class="text-muted">In dienst sinds: @Model.StartOfEmployment.ToString("dd-MM-yyyy")</p>
                }
                else
                {
                    <p class="text-muted">In dienst vanaf @Model.StartOfEmployment.ToString("dd-MM-yyyy") tot @(((DateOnly)Model.EndOfEmployment).ToString("dd-MM-yyyy"))</p>
                }
            </div>
            <div>
                @if (displayDismissButton)
                {
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#dismissEmployeeModal">Uit dienst zetten</button>
                }
                @if (isEmployed)
                {
                    <a class="btn btn-primary" asp-action="Update" asp-route-id="@Model.EmployeeNumber">Bewerken</a>
                }
                else
                {
                    <form asp-action="Reemploy" method="post">
                        <input type="hidden" name="employeeNumber" value="@Model.EmployeeNumber" />
                        <button type="submit" class="btn btn-outline-primary">Terug in dienst nemen</button>
                    </form>
                }
            </div>
        </div>
    </div>

    <div class="table-container p-3 my-3">
        <h5>Gegevens</h5>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Voornaam:</strong> @Model.FirstName</p>
                <p><strong>Achternaam:</strong> @Model.LastName</p>
                <p><strong>Emailadres:</strong> @Model.User.Email</p>
            </div>
            <div class="col-md-6">
                <p><strong>Geboortedatum:</strong> @Model.DateOfBirth.ToString("dd-MM-yyyy")</p>
                <p><strong>Rol:</strong> @ViewData["EmployeeRole"]</p>
                <p><strong>Contracturen:</strong> @Model.ContractHours uur per week</p>
                <p><strong>Verlofuren:</strong> @ViewData["LeaveHourUsed"] van de @Model.LeaveHours uur gebruikt</p>
            </div>
        </div>
    </div>

    <div class="table-container p-3">
        <h5>Adres</h5>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Postcode:</strong> @Model.Zipcode</p>
                <p><strong>Straat:</strong> @ViewData["StreetName"]</p>
            </div>
            <div class="col-md-6">
                <p><strong>Huisnummer:</strong> @Model.HouseNumber</p>
                <p><strong>Plaats:</strong> @ViewData["CityName"]</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dismissEmployeeModal" tabindex="-1" aria-labelledby="itemDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemDeleteModalLabel">Uit dienst zetting van @Model.FirstName</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je @Model.FirstName uit dienst wil zetten? Deze actie kan niet ongedaan worden gemaakt.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <form asp-action="Dismiss" method="post">
                        <input type="hidden" name="employeeNumber" value="@Model.EmployeeNumber" />
                        <button type="submit" class="btn btn-danger">Bevestig uit dienst zetting</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

