@model Employee

@{
    ViewData["Title"] = "Werknemer details";
}

@if (Model == null)
{
    <p>Fout met medewerker ophalen</p>
}
else
{
    <div class="card">
        <div class="d-flex justify-content-between align-items-center card-body">
            <div>
                <h4>@Model.FirstName @Model.LastName</h4>
                <p class="text-muted">In dienst sinds: @Model.StartOfEmployment</p>
            </div>
            <a class="btn btn-primary" asp-action="Update" asp-route-id="@Model.EmployeeNumber">Bewerken</a>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <h5>Gegevens</h5>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Voornaam:</strong> @Model.FirstName</p>
                    <p><strong>Achternaam:</strong> @Model.LastName</p>
                    <p><strong>Emailadres:</strong> @Model.User.Email</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Geboortedatum:</strong> @Model.DateOfBirth</p>
                    <p><strong>Rol:</strong> @Model.User.Role</p>
                    <p><strong>Contracturen:</strong> TODO van de @Model.ContractHours uur per week gebruikt</p>
                    <p><strong>Verlofuren:</strong> TODO van de @Model.LeaveHours uur gebruikt</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Adres</h5>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Postcode:</strong> @Model.Zipcode</p>
                    <p><strong>Straat:</strong> TODO</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Huisnummer:</strong> @Model.HouseNumber</p>
                    <p><strong>Plaats:</strong> TODO</p>
                </div>
            </div>
        </div>
    </div>
}