@{
    int numberOfNotifications = ViewData["NumberOfNotifications"] as int? ?? 0;
    
    // User
    var firstRole = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;
    var role = firstRole != null ? Enum.Parse<Role>(firstRole) : Role.Unknown; // default role so it doesn't crash. Will be redirected to login page.
    var username = User?.Identity?.Name ?? "Gebruiker";
    
    if (User == null) 
    {
        Context.Response.Redirect("/login");
        return;
    }
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bumbo App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <aside id="aside-nav-primary" class="aside-nav col-auto py-3 overflow-y-scroll d-none d-md-flex bg-white">
            <nav class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="logo align-items-center d-flex gap-3 mb-4 px-2" asp-area="" asp-controller="Dashboard" asp-action="Index">
                            <img alt="Logo" src="/img/icon.png" />
                            <span>Bumbo</span>
                        </a>
                        <button id="mobile-close-menu" class="mobile-menu-icon d-block d-md-none">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="scrollable">
                        <a class="nav-link @(Context.Request.Path == "/dashboard" || Context.Request.Path == "/" ? "active" : "")" asp-controller="Dashboard" asp-action="Index">
                            <i class="fa-solid fa-house"></i>
                            Dashboard
                        </a>

                        @if (User.IsInRole(Role.Employee.ToString()))
                        {
                            <a class="nav-link @(Context.Request.Path == "/schedule" ? "active" : "")" asp-controller="Schedule" asp-action="Index">
                                <i class="fa-solid fa-calendar"></i>
                                Rooster
                            </a>
                            
                            <a class="nav-link @(Context.Request.Path == "/HoursRegistration" ? "active" : "")" asp-controller="HoursRegistration" asp-action="Index">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                                Uren klokken
                            </a>
                        }

                        @if (User.IsInRole(Role.Manager.ToString()))
                        {
                            <div>
                                @{
                                    bool roosterNavLinkActive = Context.Request.Path.StartsWithSegments("/schedule") ||
                                                                    Context.Request.Path.StartsWithSegments("/schedule/create");
                                }
                                <a class="nav-link d-flex justify-content-between align-items-center collapse-link @(roosterNavLinkActive ? "active" : "")" data-bs-toggle="collapse" href="#collapseNavLinkSchedule">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        <span>Rooster</span>
                                    </div>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="sub-nav collapse @(roosterNavLinkActive ? "show" : "")" id="collapseNavLinkSchedule">
                                    <div class="d-flex flex-column">
                                        <a class="sub-nav-link @(Context.Request.Path == "/schedule" ? "active" : "")" asp-controller="Schedule" asp-action="Index">
                                            <i class="fa-solid fa-calendar-day"></i>
                                            Rooster bekijken
                                        </a>
                                        <a class="sub-nav-link @(Context.Request.Path == "/schedule/create" ? "active" : "")" asp-controller="Schedule" asp-action="Create">
                                            <i class="fa-solid fa-calendar-plus"></i>
                                            Nieuw rooster
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                @{
                                    bool beheerNavLinkActive = Context.Request.Path.StartsWithSegments("/norms") ||
                                                                   Context.Request.Path.StartsWithSegments("/prognoses") ||
                                                                   Context.Request.Path.StartsWithSegments("/expectations") ||
                                                                   Context.Request.Path.StartsWithSegments("/openinghours");
                                }
                                <a class="nav-link d-flex justify-content-between align-items-center collapse-link @(beheerNavLinkActive ? "active" : "")"
                                   data-bs-toggle="collapse" href="#collapseNavLinkAdmin">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-cog"></i>
                                        <span>Beheer</span>
                                    </div>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="sub-nav collapse @(beheerNavLinkActive ? "show" : "")" id="collapseNavLinkAdmin">
                                    <div class="d-flex flex-column">
                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/norms") ? "active" : "")" asp-controller="Norms" asp-action="Index">
                                            <i class="fa-solid fa-square-pen"></i>
                                            Normeringen
                                        </a>

                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/prognoses") ? "active" : "")" asp-controller="Prognoses" asp-action="Index">
                                            <i class="fa-solid fa-file-lines"></i>
                                            Prognoses
                                        </a>

                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/expectations") ? "active" : "")" asp-controller="Expectations" asp-action="Index">
                                            <i class="fa-solid fa-layer-group"></i>
                                            Verwachtingen
                                        </a>

                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/openinghours") ? "active" : "")" asp-controller="OpeningHours" asp-action="Index">
                                            <i class="fa-solid fa-clock"></i>
                                            Openingstijden
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <a class="nav-link @(Context.Request.Path == "/employees" ? "active" : "")" asp-controller="Employees" asp-action="Index">
                                <i class="fa-solid fa-users"></i>
                                Werknemers
                            </a>
                            
                            <div>
                                @{
                                    bool hoursNavLinkActive = Context.Request.Path.StartsWithSegments("/WorkedHours") ||
                                                              Context.Request.Path.StartsWithSegments("/MonthlyHours") || 
                                                              Context.Request.Path.StartsWithSegments("/HoursExport");
                                }
                                <a class="nav-link d-flex justify-content-between align-items-center collapse-link @(hoursNavLinkActive ? "active" : "")" data-bs-toggle="collapse" href="#collapseNavLinkHours">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                        <span>Uren & Verloning</span>
                                    </div>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="sub-nav collapse @(hoursNavLinkActive ? "show" : "")" id="collapseNavLinkHours">
                                    <div class="d-flex flex-column">
                                        @* TODO: linkjes *@
                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/WorkedHours") ? "active" : "")" asp-controller="WorkedHours" asp-action="Index">
                                            <i class="fa-solid fa-clock"></i>
                                            Uren beheren
                                        </a>
                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/MonthlyHours") ? "active" : "")" asp-controller="MonthlyHours" asp-action="Index">
                                            <i class="fa-solid fa-list-ul"></i>
                                            Maand overzicht
                                        </a>
                                        <a class="sub-nav-link @(Context.Request.Path.StartsWithSegments("/HoursExport") ? "active" : "")" asp-controller="HoursExport" asp-action="Index">
                                            <i class="fa-solid fa-download"></i>
                                            Uren exporteren
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (User.IsInRole(Role.Manager.ToString()) || User.IsInRole(Role.Employee.ToString()))
                        {
                            <a class="nav-link @(Context.Request.Path == "/leave" ? "active" : "")" asp-controller="Leave" asp-action="Index">
                                <i class="fa-solid fa-bed"></i>
                                Verlof & Ziek
                            </a>
                        }

                        @if (User.IsInRole(Role.Employee.ToString()))
                        {
                            <a class="nav-link @(Context.Request.Path == "/availability" ? "active" : "")" asp-controller="Availability" asp-action="Index">
                                <i class="fa-solid fa-clock"></i>
                                Beschikbaarheid
                            </a>
                        }

                        <a class="nav-link d-flex justify-content-between align-items-center @(Context.Request.Path == "/notifications" ? "active" : "")" asp-controller="Notifications" asp-action="Index">
                            <div>
                                <i class="fa-solid fa-bell position-relative">
                                    @if (numberOfNotifications > 0)
                                    {
                                        <span class="bg-danger border border-light position-absolute rounded-circle start-100 top-0 translate-middle"
                                              style="padding: .35rem;"></span>
                                    }
                                </i>
                                Meldingen
                            </div>
                            <div class="badge bg-primary position-relative">
                                @numberOfNotifications
                            </div>
                        </a>
                    </div>
                </div>
                <div>
                    <a class="nav-link logout" asp-controller="Login" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Uitloggen
                    </a>
                </div>
            </nav>
        </aside>
        <div class="col main-content p-0">
            <header class="topbar bg-white py-2">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <button id="mobile-hamburger-menu" class="mobile-menu-icon d-block d-md-none">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <h1 class="my-0 my-md-1">@ViewData["Title"]</h1>
                    </div>
                    <button
                        type="button"
                        class="unset-all profile d-flex align-items-center gap-3"
                        data-bs-html="true"
                        data-bs-toggle="popover"
                        data-bs-trigger="focus"
                        data-bs-placement="bottom"
                        data-bs-custom-class="popover-profile"
                        data-bs-content="<a class='btn btn-danger' href='/login/logout'>Uitloggen</a>">
                        @if (User != null)
                        {
                            <div class="text-secondary d-none d-sm-flex flex-column">
                                <span class="fw-bold">Welkom, @username!</span>
                                <span class="small" style="margin-top: -5px">@role.ToFriendlyString()</span>
                            </div>
                        }
                        <img class="profile-icon" src="/img/profile-icon.png" alt="profiel"/>
                    </button>
                </div>
            </header>

            <div class="container">
                <main role="main" class="py-4">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>