@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model BumboApp.ViewModels.ScheduleViewModel
@{
    ViewData["Title"] = "Rooster";
    var role = Model.Role;
}

@* Header for manager and employee *@
<header>
    @* concept header *@
    @if (role == Role.Manager && Model.ViewIsConcept)
    {
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 class="fst-italic text-secondary">Concept rooster</h3>
            <div class="buttons">
                <a class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt"></i>
                    Concept week verwijderen
                </a>
                <a class="btn btn-success">
                    <i class="fas fa-check"></i>
                    Week publiceren
                </a>
            </div>
        </div>
    }
    @* day & week header *@
    <div class="d-flex align-items-center justify-content-between">
        <div class="date-nav">
            @if (!Model.IsDayView)
            {
                <button class="unset-all text-body" onclick="GoToDate('@Model.SelectedStartDate.AddDays(-7).ToString()')">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <span class="fw-bold px-1 text-capitalize">
                    Week @Model.WeekNumber
                </span>
                <button class="unset-all text-body" onclick="GoToDate('@Model.SelectedStartDate.AddDays(7).ToString()')">
                    <i class="fas fa-chevron-right"></i>
                </button>
            }
            else
            {
                <button class="unset-all text-body" onclick="GoToDate('@Model.SelectedStartDate.AddDays(-1).ToString()')">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <span class="fw-bold px-1 text-capitalize">
                    @Model.SelectedStartDate.ToString("ddd dd-MM-yyyy", CultureInfo.GetCultureInfo("nl-NL"))
                </span>
                <button class="unset-all text-body" onclick="GoToDate('@Model.SelectedStartDate.AddDays(1).ToString()')">
                    <i class="fas fa-chevron-right"></i>
                </button>
            }
        </div>
        <div class="buttons d-flex align-items-center gap-2">
            @if (role == Role.Manager && !Model.ViewIsConcept && Model.SelectedStartDate > DateOnly.FromDateTime(DateTime.Today))
            {
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-week-modal">
                    <i class="fas fa-trash-alt"></i>
                    Verwijder week
                </button>
            }
            @if (role == Role.Manager)
            {
                <a class="btn btn-primary" asp-controller="Shifts" asp-action="Create" asp-route-date="@(Model.IsDayView ? Model.SelectedStartDate : null)">
                    <i class="fas fa-plus"></i>
                    Dienst toevoegen
                </a>
            }
            @if (role == Role.Employee)
            {
                <a class="btn btn-primary" asp-controller="Shifts" asp-action="MyShifts">
                    Mijn diensten
                </a>
            }
            @if (Model.SelectedEmployee != null)
            {
                <select class="form-select w-auto" onchange="GoToView(this)">
                    <option value="day" selected="@(Model.IsDayView)">Dag overzicht</option>
                    <option value="week" selected="@(!Model.IsDayView)">Week overzicht</option>
                </select>
            }
            @if (role == Role.Manager)
            {
                <select class="form-select w-auto" onchange="GoToEmployee(this)">
                    <optgroup label="Toon alle werknemers">
                        <option value="all" selected="@(Model.SelectedEmployee == null)">Alle werknemers</option>
                    </optgroup>
                    <optgroup label="Toon één werknemer">
                        @foreach (Employee employee in Model.Employees)
                        {
                            <option value="@employee.EmployeeNumber" selected="@(employee == Model.SelectedEmployee)">@employee.FirstName @employee.LastName</option>
                        }
                    </optgroup>
                </select>
            }
        </div>
    </div>
    @if (role == Role.Manager)
    {
        <p class="text-secondary mt-2 fst-italic">
            <i class="fas fa-info-circle"></i>
            Tip! Dubbelklik op een uur om een dienst toe te voegen.
        </p>
    }
</header>

@* Calendar day view *@


@* Calender week view *@
@* base grid for calender TODO: move to component if possible and remove comments *@
<div class="table-container">
    <div class="calendar-container">
        
        <!-- Layer 1: Base Grid -->
        <div class="calendar-grid row g-0" style="@(role == Role.Employee ? "pointer-events: none" : "")">
            <div class="time-slots-col">
                <div class="time-slot time-slot-header"></div>
                @for (int i = 6; i < 24; i++)
                {
                    <div class="time-slot">
                        <span>@i.ToString("D2"):00</span>
                    </div>
                }
            </div>
            @for (int i = 0; i < 7; i++)
            {
                <div class="col day-col @(Model.SelectedStartDate.AddDays(i) == DateOnly.FromDateTime(DateTime.Today) ? "today" : "")">
                    <div class="day-header">
                        <span class="text-center d-block small lh-1">@Model.SelectedStartDate.AddDays(i).ToString("ddd", CultureInfo.GetCultureInfo("nl-NL"))</span>
                        <strong class="text-center d-block fs-5 lh-1">@Model.SelectedStartDate.AddDays(i).ToString("dd", CultureInfo.GetCultureInfo("nl-NL"))</strong>
                    </div>
                    <div class="day-hours-grid">
                        @for (int j = 6; j < 24; j++)
                        {
                            if (role == Role.Manager)
                            {
                                <div class="hour" ondblclick="GoToCreateShift('@Model.SelectedStartDate.AddDays(i).ToString()', @j)"><i class="fas fa-plus"></i></div>
                            }
                            else
                            {
                                <div class="hour"></div>
                            }
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Layer 2: Overlay -->
        <div class="shifts-overlay">
            @foreach (Shift shift in Model.Shifts)
            {
                var dayGridPosition = shift.Start.DayOfWeek == DayOfWeek.Sunday ? 7 : (int)shift.Start.DayOfWeek;
                var startHour = shift.Start.Hour;
                var endHour = shift.End.Hour;
                var gridSpan = endHour - startHour;
                
                <button 
                    class="unset-all shift-container 
                        @shift.Department.ToString().ToLower() 
                        @(shift.Employee == null ? "no-employee" : "")
                        @(!shift.IsFinal ? "concept": "")"
                    style="grid-area: @(startHour - 5) / @dayGridPosition / span @gridSpan"
                    data-bs-toggle="popover"
                    data-bs-trigger="focus"
                    data-bs-placement="left"
                    data-bs-html="true"
                    data-bs-custom-class="popover-shift @shift.Department.ToString().ToLower()"
                    data-bs-title="
                        @if (!shift.IsFinal) { <span class='text-secondary small fst-italic'>Concept</span> }
                        <div class='d-flex justify-content-between align-items-center gap-3'>
                            <span class='fw-500' style='min-width: 3em'>@shift.Department</span>
                            @if (Model.SelectedStartDate > DateOnly.FromDateTime(DateTime.Today) && role == Role.Manager) { <a href='/shifts/update?id=@shift.Id' title='Dienst bewerken'><img src='/img/update-icon.svg' height='22px' alt='Bewerk'></a> }
                        </div>
                        "
                    data-bs-content="
                        <div>
                            <p class='text-secondary m-0'>@shift.Start.ToShortTimeString() - @shift.End.ToShortTimeString()</p>
                            @if (shift.Employee != null) { <p class='fw-500 m-0'>@shift.Employee?.FirstName @shift.Employee?.LastName</p> }
                            else { <p class='fw-500 text-danger m-0'>Zoek intern vervanging en pas de dienst aan of zoek extern.</p> }
                        </div>"
                >
                    <div class="shift">
                        <p class="text-secondary m-0">@shift.Start.ToShortTimeString() - @shift.End.ToShortTimeString()</p>
                        @if (shift.Employee != null)
                        {
                            <p class="fw-500">@shift.Employee?.FirstName @shift.Employee?.LastName</p>
                        }
                        else
                        {
                            <p class="fw-500 text-danger">
                                <i class="fas fa-user-slash"></i>
                                Geen werknemer
                            </p>
                        }
                    </div>
                </button>
            }
        </div>
    </div>
</div>

@* Legenda *@
<div class="legenda table-container p-3">
    <h4>Legenda</h4>
    <div class="d-flex align-items-center gap-4 flex-wrap">
        <div class="legenda-item">
            <div class="legenda-color kassa"></div>
            <span>Kassa</span>
        </div>
        <div class="legenda-item">
            <div class="legenda-color vers"></div>
            <span>Vers</span>
        </div>
        <div class="legenda-item">
            <div class="legenda-color vakkenvullen"></div>
            <span>Vakkenvullen</span>
        </div>
        @if (role == Role.Manager)
        {
            <div class="legenda-item">
                <div class="legenda-color no-employee"></div>
                <span>Geen werknemer</span>
            </div>
            <div class="legenda-item">
                <div class="legenda-color concept"></div>
                <span>Concept</span>
            </div>
        }
    </div>
</div>

@* Modals *@
@if (role == Role.Manager)
{
    <div class="modal fade" id="delete-week-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Weet je zeker dat je alle diensten deze week wilt verwijderen?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Door op "Verwijderen" te klikken worden alle diensten van deze week verwijderd. Dit kan niet ongedaan worden gemaakt.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <a class="btn btn-danger" asp-controller="Schedule" asp-action="DeleteWeek" asp-route-startDay="@Model.SelectedStartDate">
                        Verwijderen
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">            
        function GoToDate(date) {
            const url = new URL(window.location.href);
            url.searchParams.set("startDate", date);
            location.href = url;
        }
        
        function GoToEmployee(select) {
            const url = new URL(window.location.href);
            if (select.value.toLowerCase() === "all") {
                url.searchParams.delete("employeeNumber");
                url.searchParams.delete("dayView");
            } else {
                url.searchParams.set("employeeNumber", select.value);
                
                if (!url.searchParams.has("dayView")) {
                    url.searchParams.set("dayView", false);
                }
            }
            location.href = url;
        }    
        
        function GoToCreateShift(date, startHour) {
            location.href = `/shifts/create?date=${date}&startHour=${startHour}`;
        }
        
        function GoToView(select) {
            const url = new URL(window.location.href);
            url.searchParams.set("dayView", select.value === "day");
            location.href = url;
        }
    
    </script>
}
