
@model List<WeekPrognosis>
@using System.Globalization
@{
    ViewData["Title"] = "Prognoses";
}

<div class="row align-items-center mb-3">
    <div class="col">
        <h2>Overzicht</h2>
    </div>
    <div class="col-auto">
        <a asp-controller="Prognoses" asp-action="CreatePrognosis" class="btn btn-primary d-inline-block">Nieuwe Prognose</a>
    </div>
</div>

@if (!Model.Any())
{
    <!-- Display this alert if there are no prognoses -->
    <div class="alert alert-warning" role="alert">
        Geen prognoses in het systeem.
    </div>
}
else
{
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Week</th>
                <th>
                    <a asp-controller="Prognoses" asp-action="Index" asp-route-OverviewDesc="@(!ViewBag.OverviewDesc)" class="text-dark">
                        Begin datum
                        <img width="18px" height="auto" class="mx-1" src="@Url.Content(ViewBag.ImageUrl)" alt="Arrow"/>
                    </a>
                </th>
                <th>Eind datum</th>
                <th>Acties</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                DateTime startDateTime = item.StartDate.ToDateTime(TimeOnly.MinValue);
                int weekNumber = CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(startDateTime,new CalendarWeekRule(),item.StartDate.DayOfWeek);
                <tr>
                    <td>@weekNumber</td>
                    <td>@item.StartDate</td> 
                    <td>@item.StartDate.AddDays(7)</td> 
                    <td>
                        @if(!(item.StartDate <= DateOnly.FromDateTime(DateTime.Now))){
                            <a asp-controller="prognoses" asp-action="update">
                                <img width="20px" height="auto" class="mx-1" src="~/img/update-icon.svg" alt="Alternate Text" />
                            </a>
                        }
                        <a asp-controller ="prognoses" asp-action="details" asp-route-id="@("" + item.StartDate.Year + "-" + weekNumber)">
                            <img width="20px" height="auto" src="~/img/details-icon.svg" alt="Alternate Text" />
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

            <nav class=" align-content-end" aria-label="">
                <ul class="d-flex justify-content-end list-unstyled">

                    <!-- ways to go to the previous one-->
                    @if (!(ViewBag.PageNumber <= 1))
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Prognoses" asp-action="index" aria-label="begin ">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller= "Prognoses" asp-action="index" aria-label="Previous">
                                <span aria-hidden="true">&larr;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" asp-controller="Prognoses" asp-action="index" asp-route-page="@(ViewBag.PageNumber - 1)">@(ViewBag.PageNumber - 1)</a></li>
                    }

                    <!-- current one -->
                    <li class="page-item"><a class="page-link btn-dark" asp-controller="Prognoses" asp-action="index" asp-route-page="@ViewBag.PageNumber">@ViewBag.PageNumber</a></li>
                
                    <!-- ways to go to the next one-->
                 @if (!(ViewBag.PageNumber >= ViewBag.MaxPages))
                 {
                        <li class="page-item"><a class="page-link" asp-controller="Prognoses" asp-action="index" asp-route-page="@(ViewBag.PageNumber + 1)">@(ViewBag.PageNumber + 1)</a></li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Prognoses" asp-action="index" aria-label="next">
                            <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                 }
            </ul>
        </nav>
</div>
}