@model List<Norm>
@{
    ViewData["Title"] = "Normeringen";
}
<h5>Normeringen</h5>

<div class="container">
    <div class="latest-norms-table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="30%">Activiteiten</th>
                    <th scope="col" width="10%">Norm</th>
                    <th scope="col" width="60%"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    int counter = 0;

                    foreach (var item in Model)
                    {
                        if (counter < 5)
                        {
                            <tr>
                                <th scope="row">@item.Activity</th>
                                <td>@item.Value</td>
                                <td><b>@item.NormType</b></td>
                            </tr>
                            counter++;
                        }
                        else
                        {
                            break;
                        }
                    }
                }
                else
                {
                    foreach (string activity in Enum.GetNames(typeof(NormActivity)))
                    {
                        <tr>
                            <th scope="row">@activity</th>
                            <td>...</td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="edit-button">
            <a asp-controller="Norms" class="btn btn-primary btn-sm">BEWERKEN</a>
        </div>
    </div>
    
    <div>
        <div class="row my-3 border ">
            @*
            TODO: Zorgen dat de onderstaande div op een rij staat & opmaak tabel
            *@
            <div class="col">
                <p>Datum</p>
                <p>Coli uitladen</p>
                <p>Vakken vullen</p>
                <p>Kassa</p>
                <p>Vers</p>
                <p>Spiegelen</p>
            </div>
            <div class="col flex-nowrap">
                @if (Model != null)
                {
                    DateTime latestDate = DateTime.Now;
                    @foreach (var item in Model)
                    {
                        if (item.CreatedAt != latestDate)
                        {
                            latestDate = item.CreatedAt;
                            <p>@latestDate</p>
                        }
                    }
                }
            </div>

            @foreach (NormActivity activity in NormActivity.GetValues(typeof(NormActivity)))
            {
                <div class="col">
                    @foreach (var item in Model)
                    {
                        if (item.Activity == activity)
                        {
                            <p>@item.Value</p>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>