@model BumboApp.ViewModels.CreateUpdateShiftViewModel
@{
    ViewData["Title"] = "Dienst bewerken";
}

@if (Model?.Shift != null && Model.Shift.Start > DateTime.Now)
{
<div class="table-container p-3">
    <form asp-action="Update" asp-controller="Shifts" method="post">
        <input type="hidden" name="id" value="@Model.Shift.Id">
        <div class="form-group mb-2">
            <label for="date" class="form-label fw-bold">Datum</label>
            <input type="date" class="form-control" id="date" name="date" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" value="@Model.Shift.Start.Date.ToString("yyyy-MM-dd")" required>
        </div>
        <div class="row">
            <div class="form-group mb-2 col">
                <label for="start" class="form-label fw-bold">Starttijd</label>
                <input type="time" step="3600" class="form-control" id="start" name="start" value="@(TimeOnly.FromDateTime(Model.Shift.Start))" required>
                <p class="small text-secondary">Alleen hele uren zijn toegestaan.</p>
            </div>
            <div class="form-group mb-2 col">
                <label for="end" class="form-label fw-bold">Eindtijd</label>
                <input type="time" step="3600" class="form-control" id="end" name="end" value="@(TimeOnly.FromDateTime(Model.Shift.End))" required>
                <p class="small text-secondary">Alleen hele uren zijn toegestaan.</p>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="department" class="form-label fw-bold">Afdeling</label>
            <select class="form-select" id="department" name="department" placeholder="Selecteer een afdeling" required>
                <option>Selecteer een afdeling</option>
                @foreach (var department in Model.Departments)
                {
                    <option value="@department" selected="@(Model.Shift.Department == department)">
                        @department.ToFriendlyString()
                    </option>
                }
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="employee" class="form-label fw-bold">Werknemer</label>
            <select class="form-select" id="employee" name="employeeNumber" required>
                <option value="0" selected="@(Model.Shift.Employee == null)">Geen werknemer</option>
                @foreach (var employee in Model.Employees)
                {
                    <option value="@employee.EmployeeNumber" selected="@(Model.Shift.Employee == employee)">@employee.FirstName @employee.LastName</option>
                }
            </select>
            <p class="small text-secondary">
                <i class="fas fa-info-circle"></i>
                Als er geen werknemer is geselecteerd, wordt de dienst als open dienst aangemaakt.
            </p>
        </div>
        @if (!Model.Shift.IsFinal)
        {
            <div class="form-group mb-2">
                <p class="form-label fw-bold">Status</p>
                <input type="radio" id="isFinal" name="isFinal" value="true">
                <label for="isFinal" class="form-label fw-normal me-2">Definitief</label>
                <input type="radio" id="isConcept" name="isFinal" value="false" checked>
                <label for="isConcept" class="form-label fw-normal">Concept</label>
            </div>
        }
        else
        {
            <input type="hidden" name="isFinal" value="true">
        }
        <div class="d-flex justify-content-between">
            <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#confirmDelete">Verwijderen</button>
            <div>
                <a class="btn btn-outline-primary px-3 me-1" asp-controller="Schedule" asp-action="Index">Annuleren</a>
                <button class="btn btn-primary px-3" type="submit">Opslaan</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" asp-controller="Shifts" asp-action="Delete" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@Model.Shift.Id">
            <div class="modal-header">
                <h5 class="modal-title">Dienst verwijderen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Weet je zeker dat je deze dienst wilt verwijderen? Dit kan niet ongedaan worden gemaakt.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuleren</button>
                <button type="submit" class="btn btn-danger">Verwijderen</button>
            </div>
        </form>
    </div>
</div>
}
else
{
    <div class="alert alert-warning" role="alert">
        Er is geen dienst gevonden of de dienst is niet in de toekomst.
    </div>
}