@using System.Globalization

@{
    ViewData["Title"] = "Maand uren exporteren";
    int selectedMonth = ViewBag.Month ?? DateTime.Now.Month;
    int selectedYear = ViewBag.Year ?? DateTime.Now.Year;
    List<int> monthsInCurrentYear = ((Dictionary<int, List<int>>)ViewData["PossibleCombinations"])[selectedYear];
}

<div class="d-flex gap-2">
    <form asp-action="CanDownload" class="col-xl-6 table-container p-3 d-flex flex-column" method="post">
        <p>Download de gewerkte uren met bijbehorende persoonsgegevens voor de verloning.</p>

        <div class="row g-2">
            <div class="col-6">
                <label for="month" class="form-label">Maand</label>
                <select class="form-select" name="month" required>
                    @foreach (int dayNr in monthsInCurrentYear)
                    {
                        <option value="@dayNr" selected="@(dayNr == selectedMonth)">
                            @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(dayNr)
                        </option>
                    }
                </select>
            </div>

            <div class="col-6">
                <label for="year" class="form-label">Jaar</label>
                <input class="form-control"
                       type="number"
                       name="year"
                       value="@selectedYear"
                       min="1900"
                       onchange="updateMonths()"
                       required />
            </div>
        </div>

        <div class="d-flex justify-content-end mt-auto pt-2">
            <button class="btn btn-primary" type="submit">download</button>
        </div>
    </form>
    <div class="col-xl-6 table-container p-3 d-flex flex-column">
        <h3>Maandoverzicht bekijken</h3>
        <p>Benieuwd in hoeverre er is afgeweken van het originele rooster en op welke uren toeslagen van toepassing waren?</p>
        <div class="d-flex justify-content-end mt-auto">
            <a class="btn btn-outline-primary" asp-controller="MonthlyHours" asp-action="Index">bekijk maandoverzicht</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        let yearToMonth = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewData["PossibleCombinations"]));

        function updateMonths() {
            var yearInput = document.querySelector('input[name="year"]');
            var selectedYear = parseInt(yearInput.value);
            var monthSelect = document.querySelector('select[name="month"]');
            monthSelect.innerHTML = '';

            if (yearToMonth[selectedYear]) {
                var validMonths = yearToMonth[selectedYear];
                validMonths.forEach(function (month) {
                    var option = document.createElement('option');
                    option.value = month;
                    option.text = new Intl.DateTimeFormat('default', { month: 'long' }).format(new Date(2000, month - 1));
                    monthSelect.appendChild(option);
                });
            } else {
                var option = document.createElement('option');
                option.value = '';
                option.text = 'Geen beschikbare maanden';
                monthSelect.appendChild(option);
            }
        }
    </script>
}