@model List<UniqueDay>
@{
    ViewData["Title"] = "Openingstijden";
}
<h5>Openingstijden en speciale dagen</h5>

<div class=" row">
    <div class=" col-8">
        <h5>Openingstijden</h5>
<form class="table-container" id="opening-hours-form" asp-action="Update" method="post">
    <table class="table">
        <tbody>
            @for (int i = 0; i < 7; i++)
            {
                DayOfWeek day = (DayOfWeek)((i + 1) % 7); // Start with Monday
                var openingHours = Model.OpeningHours.SingleOrDefault(h => h.WeekDay == day);
                var isOpen = openingHours?.OpeningTime != null;
                <tr class="align-middle">
                    <td>
                        <div class="form-check form-switch">
                            <input class="d-none form-check-input" type="checkbox" role="switch" id="opening-hours-switch-@i" onchange="toggleDay(@i, this.checked)" @(isOpen ? "checked" : "") disabled />
                            <input type="hidden" name="OpeningHours[@Model.OpeningHours.IndexOf(openingHours)].WeekDay" value="@openingHours.WeekDay" />
                            <p>@Model.DutchDays[(i + 1) % 7]</p>
                        </div>
                    </td>
                    <td>
                        <div class="@(isOpen ? "d-table-cell" : "d-none")" id="opening-hours-field-@i">
                            <label for="opening-hour-@i">Vanaf</label>
                            <div class="d-inline-block" id="opening-hour-text-@i">@openingHours.OpeningTime</div>
                            <input class="d-none" id="opening-hour-@i" type="time" name="OpeningHours[@Model.OpeningHours.IndexOf(openingHours)].OpeningTime" value="@openingHours.OpeningTime" />
                        </div>
                        <div class="@(isOpen ? "d-none" : "d-block")" id="closedText-@i">
                            <p>gesloten</p>
                        </div>
                    </td>
                    <td>
                        <div class="@(isOpen ? "d-table-cell" : "d-none")" id="closing-hours-field-@i">
                            <label for="closingHour-@i">tot</label>
                            <div class="d-inline-block" id="closing-hour-text-@i">@openingHours.ClosingTime</div>
                            <input class="d-none" id="closing-hour-@i" type="time" name="OpeningHours[@Model.OpeningHours.IndexOf(openingHours)].ClosingTime" value="@openingHours.ClosingTime" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Oplaan</button>
        <a class="btn btn-primary" id="opening-hours-edit-button">bewerken</a>
    </div>
</form>
    </div>
    <div class=" col-4">
        <div class=" table-container">
            <div class="pt-3 ps-3">
                <h3>Speciale dagen</h3>
                <p>Prognose wordt vermenigvuldigd met de factor</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th class="col-5">
                            <a asp-controller="OpeningHours" asp-action="Index" asp-route-OverviewDesc="@(!ViewBag.OverviewDesc)"
                                asp-route-usePassedDates="@ViewBag.UsePassedDates" aria-label="begin " class="text-decoration-none text-dark d-flex align-items-center">
                                <div class="me-2">
                                    Startdatum <br /> Einddatum
                                </div>
                                <img style="width: 20px; height: auto" src="@Url.Content(ViewBag.ImageUrl)" alt="Arrow" />
                            </a>
                        </th>
                        <th class=" col-3">Factor</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any())
                    {
                        <!-- Display this alert if there are unique days -->
                        <tr>
                            <td colspan="100%" class="text-center">Er zijn geen Speciale dagen</td>
                        </tr>
                    }
                    else{
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td class=" col-5">
                                    @item.StartDate <br> 
                                    @item.EndDate
                                </td>
                                <td class=" col-3">
                                    @item.Factor
                                </td>
                                <td>
                                    @if (item.StartDate > DateOnly.FromDateTime(DateTime.Now))
                                    {
                                        <a asp-controller="UniqueDays" asp-action="Edit" asp-route-id = "@item.Id">
                                            <img style="width: 20px; height: auto" src="~/img/update-icon.svg" alt="Alternate Text" />
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (ViewBag.MaxPages > 1)
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end px-3">
                        <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" asp-controller="OpeningHours" asp-action="index"
                               asp-route-OverviewDesc="@ViewBag.OverviewDesc"
                               asp-route-usePassedDates="@ViewBag.UsePassedDates" aria-label="begin ">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" asp-controller="OpeningHours" asp-action="index"
                               asp-route-page="@(ViewBag.PageNumber - 1) "
                               asp-route-OverviewDesc="@ViewBag.OverviewDesc"
                               asp-route-usePassedDates="@ViewBag.UsePassedDates" aria-label="Previous">
                                <span aria-hidden="true">&larr;</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.MaxPages; i++)
                        {
                            <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@i"
                                   asp-route-OverviewDesc="@ViewBag.OverviewDesc"
                                   asp-route-usePassedDates="@ViewBag.UsePassedDates">@i</a>
                            </li>
                        }
                        <li class="page-item @(ViewBag.PageNumber == ViewBag.MaxPages ? "disabled" : "")">
                            <a class="page-link" asp-controller="OpeningHours" asp-action="index"
                               asp-route-page="@(ViewBag.PageNumber + 1)"
                               asp-route-OverviewDesc="@ViewBag.OverviewDesc"
                               asp-route-usePassedDates="@ViewBag.UsePassedDates" aria-label="next">
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>

                        <li class="page-item @(ViewBag.PageNumber == ViewBag.MaxPages ? "disabled" : "")">
                            <a class="page-link" asp-controller="OpeningHours" asp-action="index"
                               asp-route-page="@ViewBag.MaxPages"
                               asp-route-OverviewDesc="@ViewBag.OverviewDesc"
                               asp-route-usePassedDates="@ViewBag.UsePassedDates" aria-label="last">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
        <div class="d-flex justify-content-between">
            @if (ViewBag.UsePassedDates != 'n')
            {
                <a asp-controller="OpeningHours" asp-action="Index" class="btn btn-primary btn-sm d-inline-block">toekomstige dagen bekijken</a>
            }
            else
            {
                <a asp-controller="OpeningHours" asp-action="Index" asp-route-usePassedDates='y'  class="btn btn-primary btn-sm ">oude dagen bekijken</a>
            }
            <a asp-controller="UniqueDays" asp-action="Add" class="btn btn-primary btn-sm">toevoegen</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('opening-hours-edit-button').addEventListener('click', function () {

        for (let i = 0; i < 7; i++) {
            const hoursSwitch = document.getElementById(`opening-hours-switch-${i}`);
            const openingHour = document.getElementById(`opening-hour-${i}`);
            const openingHourText = document.getElementById(`opening-hour-text-${i}`);
            const closingHour = document.getElementById(`closing-hour-${i}`);
            const closingHourText = document.getElementById(`closing-hour-text-${i}`);

            const isEditable = !hoursSwitch.disabled;
            toggleDisplay(openingHour, openingHourText, isEditable);
            toggleDisplay(closingHour, closingHourText, isEditable);

            hoursSwitch.disabled = isEditable;
            hoursSwitch.classList.toggle('d-none', isEditable);
        }
    });

    function toggleDisplay(inputField, textField, isEditable) {
        inputField.classList.toggle('d-none', isEditable);
        textField.classList.toggle('d-none', !isEditable);
    }

    function toggleDay(id, isActive) {
        const openingField = document.getElementById(`opening-hours-field-${id}`);
        const closingField = document.getElementById(`closing-hours-field-${id}`);
        const closedText = document.getElementById(`closedText-${id}`);

        openingField.classList.toggle('d-none', !isActive);
        closingField.classList.toggle('d-none', !isActive);
        closedText.classList.toggle('d-none', isActive);

        const openingHourElement = document.getElementById(`opening-hour-${id}`);
        const closingHourElement = document.getElementById(`closing-hour-${id}`);
        if (!isActive) {
            const openingHour = openingHourElement.value = null;
            const closingHour = closingHourElement.value = null;
        } else {
            const openingTime = new Date();
            openingTime.setHours(8, 0);
            openingHourElement.value = openingTime.toTimeString().slice(0, 5);

            const closingTime = new Date();
            closingTime.setHours(21, 0);
            closingHourElement.value = closingTime.toTimeString().slice(0, 5);
        }
    }
</script>