@model BumboApp.ViewModels.LeaveRequestDetailViewModel
@{
    if (User.IsInRole(Role.Employee.ToString()))
    {
        ViewData["Title"] = "Nieuwe verlof aanvraag";
    }
    else if (User.IsInRole(Role.Manager.ToString()))
    {
        ViewData["Title"] = "Verlof aanvraag beoordelen";
    }
    var leftOverLeaveHours = Model.LoggedInEmployee.LeaveHours - Model.AmountOfUsedLeaveRequestHours;
}

@if (User.IsInRole(Role.Employee.ToString()))
{
    <div class="d-flex flex-column flex-lg-row align-items-start gap-3">
        <form asp-action="CreateLeaveRequest" asp-controller="Leave" method="post" class="create-prognosis-card">
            <div class="card p-4 create-prognosis-card">
                <div class="mb-3">
                    <label for="startDate" class="form-label fw-bold">Begin Datum</label>
                    <input type="datetime-local" class="form-control" id="startDate" name="StartDate" placeholder="Begindatum" 
                           min="@DateTime.Now.ToString("yyyy-MM-ddTHH:00")"
                           step="3600"
                           onchange="setEndDateMin()" 
                           required>
                    <p class="form-text mb-0">Verlof kan alleen worden aangevraagd voor hele uren</p>
                </div>

                <div class="mb-3">
                    <label for="endDate" class="form-label fw-bold">Eind Datum</label>
                    <input type="datetime-local" class="form-control" id="endDate" name="EndDate" placeholder="Einddatum"
                           step="3600"
                           required>
                    <p class="form-text mb-0">Minimale duur van een verlof aanvraag is 1 uur</p>
                </div>

                <div class="mb-3">
                    <label for="reason" class="form-label fw-bold">Reden</label>
                    <textarea class="form-control textAreaLeaveRequestReason" name="Reason" placeholder="Reden" maxlength="255" required></textarea>
                </div>

                <input type="hidden" name="Status" value="@Status.Aangevraagd" />

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a asp-controller="Leave" asp-action="Index" class="btn btn-outline-primary" type="button">Annuleer</a>
                    <button class="btn btn-primary me-md-2" id="leaveCreateButton" type="submit">Aanvragen</button>
                </div>
            </div>
        </form>

        <div class="card p-3">
            <p class="card-text mb-0">Je hebt nog @leftOverLeaveHours verlofuren over dit jaar</p>
        </div>
    </div>
}
else if (User.IsInRole(Role.Manager.ToString()))
{
    <div class="d-flex flex-column flex-lg-row align-items-start gap-3">
        <div class="card p-4 create-prognosis-card">
            <div class="mb-3">
                <label class="form-label fw-bold">Werknemer</label>
                <p>@Model.LeaveRequest.Employee.FirstName @Model.LeaveRequest.Employee.LastName</p>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">Begin Datum</label>
                <p>@Model.LeaveRequest.StartDate.ToString("dd-MM-yyyy HH:mm")</p>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Eind Datum</label>
                <p>@Model.LeaveRequest.EndDate.ToString("dd-MM-yyyy HH:mm")</p>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Reden</label>
                <p>@Model.LeaveRequest.Reason</p>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold d-block">Huidige status</label>
                @switch (Model.LeaveRequest.Status)
                {
                    case Status.Afgewezen:
                        <p class="badge rounded-pill bg-danger bg-opacity-10 text-danger">
                            @Model.LeaveRequest.Status
                        </p>
                        break;
                    case Status.Geaccepteerd:
                        <p class="badge rounded-pill bg-success bg-opacity-10 text-success">
                            @Model.LeaveRequest.Status
                        </p>
                        break;
                    case Status.Aangevraagd:
                    default:
                        <p class="badge rounded-pill bg-secondary bg-opacity-10 text-secondary">
                            @Model.LeaveRequest.Status
                        </p>
                        break;
                }
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-controller="Leave" asp-action="AssessLeaveRequest" asp-route-status="@Status.Afgewezen" asp-route-leaveRequestId="@Model.LeaveRequest.Id" class="btn btn-outline-danger" type="button">Afkeuren</a>
                <a asp-controller="Leave" asp-action="AssessLeaveRequest" asp-route-status="@Status.Geaccepteerd" asp-route-leaveRequestId="@Model.LeaveRequest.Id" class="btn btn-primary" type="button">Goedkeuren</a>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        // Function to set the minimum value of endDate based on startDate
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');
    
        function setEndDateMin() {
            const startDateValue = startDateInput.value;
            if (startDateValue) {
                endDateInput.min = startDateValue;
            }
        }
    </script>
}
