@using BumboApp.ViewModels
@using BumboApp.Views.Components
@using System.Globalization
@model BumboApp.ViewModels.WorkedHoursPageViewModel
@{
    ViewData["Title"] = "Gewerkte uren";
}

<div class="d-flex align-items-center justify-content-between">
    <!-- Date Navigation -->
    <div class="d-flex align-items-center w-100 w-lg-auto">
        <a class="unset-all text-body" asp-action="Index" asp-route-page="1" asp-route-startDate="@Model.SelectedStartDate.AddDays(-1).ToString("yyyy-MM-dd")" asp-route-employee="@(Model.Employee?.EmployeeNumber.ToString() ?? "")" asp-route-hours="@Model.Hours">
            <i class="fas fa-chevron-left"></i>
        </a>
        <span class="fw-bold px-1 text-capitalize">
            @Model.SelectedStartDate.ToString("ddd dd-MM-yyyy", CultureInfo.GetCultureInfo("nl-NL"))
        </span>
        <a class="unset-all text-body" asp-action="Index" asp-route-page="1" asp-route-startDate="@Model.SelectedStartDate.AddDays(1).ToString("yyyy-MM-dd")" asp-route-employee="@(Model.Employee?.EmployeeNumber.ToString() ?? "")" asp-route-hours="@Model.Hours">
            <i class="fas fa-chevron-right"></i>
        </a>    
    </div>

    <div class="d-flex gap-2">
        <!-- Hours filter -->
        <div>
            <select class="form-select w-100 w-lg-auto" onchange="GoToHours(this)">
                    <option value="all" selected="@(Model.Hours == null)">Alle uren</option>
                    <option value="different" selected="@(Model.Hours == "different")">Afwijkend</option>
            </select>
        </div> 

        <!-- Employee filter -->
        <div>
            <select class="form-select w-100 w-lg-auto" onchange="GoToEmployee(this)">
                <optgroup label="Toon alle werknemers">
                    <option value="all" selected="@(Model.Employee == null)">Alle werknemers</option>
                </optgroup>
                <optgroup label="Toon één werknemer">
                    @foreach (var employee in ViewBag.AllEmployees)
                    {
                        <option value="@employee.EmployeeNumber" selected="@(employee == Model.Employee)">
                            @employee.FirstName @employee.LastName
                        </option>
                    }
                </optgroup>
            </select>
        </div>
    </div>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Werknemer</th>
                <th>Gewerkte tijden</th>
                <th>Pauze</th>
                <th>Gewerkte uren</th>
                <th>Ingepland rooster</th>
                <th>Status</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.WorkedHours.Any())
            {
                <tr>
                    <td colspan="100%" class="text-center py-4">Er zijn nog geen gewerkte uren</td>
                </tr>
            }
            else
            {
                @foreach (var workedHour in Model.WorkedHours)
                {
                    <tr>
                        <td>
                            @(workedHour.Employee != null
                                ? $"{workedHour.Employee.FirstName} {workedHour.Employee.LastName}"
                                : "Geen werknemer")
                        </td>
                        <td>
                            @if(workedHour.StartTime != null)
                            {
                                @if(workedHour.EndTime != null)
                                {
                                    @workedHour.StartTime <span> - </span> @workedHour.EndTime
                                }
                                else
                                {
                                    @workedHour.StartTime <span> - ...</span>
                                }
                            }
                            else
                            {
                                <span>Niet ingeklokt</span>
                            }
                        </td>
                        <td>
                            @if (workedHour.BreaksDuration.HasValue)
                            {
                                <div>@workedHour.BreaksDuration.Value.ToString(@"hh\:mm")</div>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (workedHour.TotalWorkedTime.HasValue)
                            {
                                @workedHour.TotalWorkedTime.Value.ToString(@"hh\:mm")
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (workedHour.PlannedShift != null)
                            {
                                @workedHour.PlannedShift
                            }
                            else
                            {
                                <span>Niet ingepland</span>
                            }
                        </td>
                        <td>
                            @if (workedHour.Status != null)
                            {
                                @workedHour.Status
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (workedHour.IsFuture)
                            {
                                <a asp-action="Update" asp-route-id="">
                                    <img width="20px" src="~/img/update-icon.svg" alt="edit" />
                                </a>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (ViewBag.MaxPages > 1)
    {
        <Component type="typeof(Pagination)"
                   render-mode="ServerPrerendered"
                   param-PageNumber="ViewBag.PageNumber"
                   param-MaxPages="ViewBag.MaxPages" />
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        function GoToEmployee(select) {
            const url = new URL(window.location.href);
            if (select.value.toLowerCase() === "all") {
                url.searchParams.delete("employee");
            } else {
                url.searchParams.set("employee", select.value);
            }
            location.href = url;
        }

        function GoToHours(select) {
            const url = new URL(window.location.href);
            if (select.value.toLowerCase() === "all") {
                url.searchParams.delete("hours");
            } else {
                url.searchParams.set("hours", select.value);
            }
            location.href = url;
        }
    </script>
}