@model UniqueDay
@{
    ViewData["Title"] = "Speciale dag bewerken";
}
<div class="table-container p-3">
    <form method="post" asp-action="Update" onchange="showButton()">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="row">
            <div class="col-12 col-lg">
                <label for="cargoExpected">Naam</label>
                <input type="text" id="name" name="Name"
                       value="@Model.Name" class="form-control" required />
            </div>

            <div class="col-12 col-lg">
                <label for="beginDate">StartDatum</label>
                <input type="date" id="bDate" name="StartDate" class="form-control"
                       value="@Model.StartDate.ToString("yyyy-MM-dd")" min="@(DateOnly.FromDateTime(DateTime.Now))"required/>
            </div>
            
            <div class="col-12 col-lg">
                <label for="endDate">EindDatum</label>
                <input type="date" id="eDate" name="EndDate" class="form-control"
                       value="@Model.EndDate.ToString("yyyy-MM-dd")"min="@(DateOnly.FromDateTime(DateTime.Now))"required/>
            </div>

            <div class="col-12 col-lg">
                <label for="factor">Factor</label>
                <input type="number" id="factor" name="Factor"
                       value="@Model.Factor" class="form-control" min="0.1" step="any" required />
            </div>
        </div>
        <div class="text-end mt-3">
            <a asp-action="Index" asp-controller="OpeningHours" class="btn btn-outline-primary">
                Annuleren
            </a>
            <button type="submit" class="btn btn-primary" disabled>Opslaan</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function showButton() {
        document.querySelector("button[type='submit']").removeAttribute("disabled");
    }
</script>